body {
	font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

ul.containerNav{
    display: inline-block;
    text-align: center;
    width: 100%;

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li  {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;    
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("../image/bg.jpg");
    padding: 40px 0;
}

footer div {
    width: 940px;
    margin: 0 auto;
}

footer div.infoFooter{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer div.infoFooter img{
    width: auto;
    height: 289px;
}

footer div.infoAtendimento{
    width:35%;
    color: #fff;
    display: grid;
    margin-right: 0;
}

table {
    margin: 20px 0 20px;
}

thead {
    color: #fff;
    font-weight: bold;
}

tbody{
    color: #fff;
}

td, th {
    border: 1px solid #fff;
    padding: 8px 15px;
}

p.atendimentoLocal{
    text-align: left;
    line-height: 1.2rem;
}


.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}


@media screen and (max-width: 480px) { 
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }


    h1 {
        text-align: center;
    }
    
    nav {
        position: static;
    }

    .produtos li~li {
        margin: 50px 10%;

    }

    .produtos li {
        width: 80%;
        margin: 30px 10%;
        padding: 30px 20px;
    }

    .produtos li img {
        width: 80%;
    }

    .produtos, footer div, .lista-beneficios, .imagem-beneficios {
        width: 90%;
    }

    .mapa p, footer div.infoAtendimento p {
		margin: 0 2rem 1rem;
		text-align:left;
	}

    footer div.infoFooter{
        display: block;
        justify-content:space-between;
        align-items: center;
    }

    footer div.infoAtendimento {
		display:initial;
	}

	footer div.infoAtendimento table {
		margin: 1rem auto;
	}

	footer div.infoAtendimento p {
		font-size: 0.75rem;
	}
    
    .copyright {
        color: #FFFFFF;
        font-size: 0.65rem;
        margin: 20px 0 0;
    }
}